body{
    background-color: rgb(111, 94, 117);
  }
  p{
    margin: 0;
    color: black;
  }

  h1{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 50px;
    color:  rgb(37, 26, 37);
    text-transform: capitalize;
  }

  .poster{
    width: 100%;
    border: 10px solid rgb(105, 71, 105);
  }

  #hank{
    width: 20%
  }

  #quote{
    width: 50%;
    margin-left: 25%;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    text-decoration:color(from rgb(37, 26, 37));
    text-align: center;
    padding: 5px;
  }
  hr{
    height: 4px;
    color: rgb(229, 214, 229)
  }

  .author{
    margin: 0%;
    text-align: justify; 
  }
  